.form {
  display: flex;
  justify-content: center;
}
.form input[type="text"] {
  height: 30px;
  padding: 0 20px;
  font-size: 20px;
  border: 1px solid #ccc;
  min-width: 80%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.form button[type="submit"] {
  border: none;
  height: 30px;
  width: 40px;
  background: green;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
